.footer{
    background: #000;
    text-align: center;

    .footer-title{
      text-decoration: none;
      color: white;
    }

  
    .row-mine {
      padding: 10px;
      font-size: 15px;
      a {
        text-decoration: none;
        color: white;
  
        &:hover {
          color: red;
        }
      }
  
      a {
        i {
          font-size: 15px;
          margin: 0% 1%;
        }
      }
  
      p {
        color: white;
        font-size: 10px;
      }
    }
  }