@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 900px;
}

.nav-link {
    color: white;
    font-size: 20px;

    &:hover{
        color: red !important;
    }
  }